.container {
    display: flex;
    width: 100%;
    height: 100%;
    &__left-side {
        width: 20%;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }
    &__right-side {
        width: 80%;
        overflow-x: auto;
    }
}

.rectangle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &.move-to {
        background-color: red;
    }
}

.popper {
    background-color: #ffffff;
    .icons {
        display: flex;
        align-items: center;
        .icon {
            cursor: pointer;
            &-apply {
                color: #1e88e5;
            }
            &-close {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ff0000;
                border: 1px solid #ff0000;
                font-size: 18px;
                width: 18px;
                height: 18px;
            }
        }
    }
}

.header {
    h2 {
        padding: 10px;
        color: #37474f;
    }
    .link {
        border-bottom: 1px solid black;
        padding: 10px;
        font-size: 11px;
        a {
            color: #673ab7;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    &-row {
        padding: 10px;
        border-bottom: 1px solid black;
        cursor: pointer;
        position: relative;
        &:hover {
            background-color: #d5d5d5;
        }
        .delete-btn {
            position: absolute;
            top: 0;
            right: 0;
            .icon {
                font-size: 16px;
            }
        }
        pre {
            .pre-title {
                text-align: left;
            }
        }
        .page-number {
            text-align: right;
            font-size: 12px;
        }
    }
}